@{
    ViewBag.Title = "Đăng ký thành viên";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style type="text/css">
    tr {
        height: 40px;
    }
</style>

<h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
<h4 style="color:red; text-align:center;">@ViewBag.ThongBao</h4>

@using (Html.BeginForm("DangKy", "User"))
{
    @Html.ValidationSummary(true)
    <table align="center">
        <tr>
            <td>Họ tên:</td>
            <td>@Html.TextBox("HoTen") <span style="color:red;">@ViewData["err1"]</span></td>
        </tr>
        <tr>
            <td>Tên đăng nhập:</td>
            <td>@Html.TextBox("TenDN") <span style="color:red;">@ViewData["err2"]</span></td>
        </tr>
        <tr>
            <td>Mật khẩu:</td>
            <td>@Html.Password("MatKhau") <span style="color:red;">@ViewData["err3"]</span></td>
        </tr>
        <tr>
            <td>Mật khẩu nhập lại:</td>
            <td>@Html.Password("MatKhauNL") <span style="color:red;">@ViewData["err4"]</span></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Html.TextBox("Email") <span style="color:red;">@ViewData["err5"]</span></td>
        </tr>
        <tr>
            <td>Điện thoại:</td>
            <td>@Html.TextBox("DienThoai") <span style="color:red;">@ViewData["err6"]</span></td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td><input type="date" name="NgaySinh" /></td>
        </tr>
        <tr>
            <td>Địa chỉ:</td>
            <td><input type="text" name="DiaChi" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Đăng ký" />
                <input type="reset" value="Xóa Thông Tin" />
            </td>
        </tr>
    </table>
}