@using PagedList.Mvc;
@using TanHoangAnh.SachOnline.Models;
@model PagedList.IPagedList<SACH>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@Styles.Render("~/Content/PagedList.css")

<style type="text/css">
    .imgbook {
        transition: all 1s ease-in;
        width: 400px;
    }

        .imgbook:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
</style>

@section NhaXuatBanPartial {
    @Html.Action("NhaXuatBanPartial", "SachOnline")}

@section SachBanNhieuPartial {
    @Html.Action("SachBanNhieuPartial", "SachOnline")}

@section SliderPartial {
    @Html.Action("SliderPartial", "SachOnline")}

@section NavPartial {
    @Html.Action("NavPartial", "SachOnline")}

@section FooterPartial {
    @Html.Action("FooterPartial", "SachOnline")}

<h2 class="text-center" style="margin-top: 0;">SÁCH MỚI</h2>
<hr>
<div class="row text-center">

    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 mb-4">
            <div class="card h-100 shadow-sm border">

                <img src="~/Images/@sach.AnhBia" alt="Thumbnail Image 1"
                     class="card-img-top imgbook"
                     style="width: 100%; height: 300px; object-fit: contain; padding: 10px;">

                <div class="card-body">
                    <h5 class="card-title" style="min-height: 70px;">
                        <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = sach.MaSach })" style="text-decoration: none; font-weight: bold;">
                            @sach.TenSach
                        </a>
                    </h5>

                    <p class="card-text">
                        <a href="#" class="btn btn-primary" role="button">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            Add to Cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }

</div>

@*Tạo liên kết các trang*@
<div class="text-center" style="margin-top: 20px;">
    <p>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new PagedListRenderOptions { UlElementClasses = new[] { "pagination" } })
</div>