@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section NhaXuatBanPartial {
    @Html.Action("NhaXuatBanPartial", "SachOnline")}

@section SachBanNhieuPartial {
    @Html.Action("SachBanNhieuPartial", "SachOnline")}

@section SliderPartial {
    @Html.Action("SliderPartial", "SachOnline")}

@section NavPartial {
    @Html.Action("NavPartial", "SachOnline")}

@section FooterPartial {
    @Html.Action("FooterPartial", "SachOnline")}

<h2 class="text-center" style="margin-top: 0;">SÁCH MỚI</h2>
<hr>
<div class="row text-center">

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="~/Images/130499.jpg" alt="Thumbnail Image 1" class="card-img-top imgbook">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 1</h5>
                <p class="card-text text-muted">Mô tả tóm tắt sản phẩm</p>
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="~/Images/130318.jpg" alt="Thumbnail Image 2" class="card-img-top imgbook">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 2</h5>
                <p class="card-text text-muted">Mô tả tóm tắt sản phẩm</p>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="~/Images/KT0001.jpg" alt="Thumbnail Image 3" class="card-img-top imgbook">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 3</h5>
                <p class="card-text text-muted">Mô tả tóm tắt sản phẩm</p>
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="~/Images/130499.jpg" alt="Thumbnail Image 1" class="card-img-top imgbook">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 1</h5>
                <p class="card-text text-muted">Mô tả tóm tắt sản phẩm</p>
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="~/Images/130318.jpg" alt="Thumbnail Image 2" class="card-img-top imgbook">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 2</h5>
                <p class="card-text text-muted">Mô tả tóm tắt sản phẩm</p>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="~/Images/KT0001.jpg" alt="Thumbnail Image 3" class="card-img-top imgbook">
            <div class="card-body">
                <h5 class="card-title">Sản phẩm 3</h5>
                <p class="card-text text-muted">Mô tả tóm tắt sản phẩm</p>
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                </a>
            </div>
        </div>
    </div>

</div>

<nav class="text-center mt-4">
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
</nav>