<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0;">
    <div class="container">
        @Html.ActionLink("SachOnline", "Index", "SachOnline", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "SachOnline")">TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">Liên hệ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Sách theo chủ đề
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("SachTheoChuDe", "SachOnline", new { id = 1 })">Ngoại ngữ</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("SachTheoChuDe", "SachOnline", new { id = 2 })">Công nghệ thông tin</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("SachTheoChuDe", "SachOnline", new { id = 3 })">Văn học</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Sách theo nhà xuất bản
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("SachTheoNhaXuatBan", "SachOnline", new { id = 1 })">Nhà xuất bản Trẻ</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("SachTheoNhaXuatBan", "SachOnline", new { id = 2 })">NXB Tổng hợp</a></li>
                    </ul>
                </li>
            </ul>

            @* Form tìm kiếm *@
            <form class="d-flex me-2">
                <input class="form-control me-2" type="text" placeholder="Tìm kiếm" name="data" style="border-radius: 0;">
                <button class="btn btn-light" type="submit" style="border-radius: 0;">Tìm</button>
            </form>

            @* Đăng ký / Đăng nhập / Đăng xuất - dùng partial theo lab *@
            <ul class="navbar-nav align-items-center">
                @Html.Action("LoginLogout", "SachOnline")
                @Html.Action("GioHangPartial", "GioHang")
            </ul>
        </div>
    </div>
</nav>
